.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
    gap: 40px;
}

.cabecalho__menu{
    display: flex;
    gap: 20px;
}

.cabecalho__menu a{
    padding: 10px 20px;
    text-decoration: none;
}


@media(max-width:800px){
    .cabecalho{
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .cabecalho__menu a{
        background-color: var(--cor-creme);
    }
}

@media(max-width:500px){
    .cabecalho__menu{
        flex-wrap: wrap;
        justify-content: center;
    }
}